.footerhome {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(186 255 250 / 37%);
}

.nav{
    display: flex;
    flex-direction: column;
}
.footer {
    align-items: center;
    color: black;
    .icono{
        width: 20px;
        height: 20px;
    }
}
.estrella{
    fill: yellow;
}

.main{
    &.background1{
        background-image: url('../img/backgraund-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile {
            background-image: url('../img/background-tablet.jpg');
        }
        @include tablet() {
            background-image: url('../img/backgraund-desktop.jpg');
        }
        
    }
    &.background2{
        background-image: url('../img/backgraund2-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/backgraund2-tablet-large.png');
        }
        @include tablet() {
            background-image: url('../img/backgraund2-desktop.png');
        }
        @include desktop() {
            background-image: url('../img/backgraund2-desktop.png');
        }
    }
    &.background3{
        background-image: url('../img/backgraund3-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/backgraund3-tablet.jpg');
        }
        @include tablet() {
            background-image: url('../img/backgraund3-desktop.jpg');
        }
        @include desktop() {
            background-image: url('../img/backgraund3-desktop.jpg');
        }
    }
    
}
.home{
    &.background1{
        background-image: url('../img/backgraund-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile {
            background-image: url('../img/background-tablet.jpg');
        }
        @include tablet() {
            background-image: url('../img/backgraund-desktop.jpg');
        }
        
    }
    &.background2{
        background-image: url('../img/backgraund2-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/backgraund2-tablet-large.png');
        }
        @include tablet() {
            background-image: url('../img/backgraund2-desktop.png');
        }
        @include desktop() {
            background-image: url('../img/backgraund2-desktop.png');
        }
    }
    &.background3{
        background-image: url('../img/backgraund3-mobile-large.jpg');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/backgraund3-tablet.jpg');
        }
        @include tablet() {
            background-image: url('../img/backgraund3-desktop.jpg');
        }
        @include desktop() {
            background-image: url('../img/backgraund3-desktop.jpg');
        }
    }
    
}
.titulo{
    color: black;
    padding: {
        top: 30px;
        bottom: 30px;
        right: 20px;
        left: 20px;
    }
}
.color{
    color: black;
}
.cabezera{
    font-size: x-large;
}
.pie{
    margin-top: 30px;
}
.redirect{
    border-radius: 7px;
}
.end{
    padding-bottom: 60px;
}
.home{
    height: 93vh;
}
h2{
    margin: 0px;
    font-size: 24px;
}
.buscador{
    padding: 10px;
    padding-bottom: 30px;
    .barra{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: flex-start;
        /* padding-bottom: 10px; */
        .lupa, .barrabuscador{
            width: 52px;
            height: 52px;
        }
        .imgbuscar{
            padding-right: 15px;
            /* padding-bottom: 10px; */
            margin-top: -2px;
            img{
                position: absolute;
            }
        }
    }
}

.listado{
    background: rgba(213, 245, 240, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 60vh;
    overflow: scroll;
    .cuidador{
        padding: {
            top: 10px;
            bottom: 10px;
            right: 10px;
            left: 10px;
        }
        margin-top: 10px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        @include movile() {
            padding: {
                top: 12px;
                bottom: 12px;
                right: 25px;
                left: 25px;
            }
        }
        @include tablet() {
            padding: {
                top: 15px;
                bottom: 15px;
                right: 30px;
                left: 30px;
            }
        }

        
        .foto{
            display: flex;
        }
        .nombreval{
            align-items: stretch;
            justify-content: space-evenly;
            h3{
                padding: {
                    top: 6px;
                    bottom: 6px;
                }
            }
        }
        h3{
            font-size: 9px;
            overflow:hidden;

            @include movileS(){
                font-size: 10px;
            }
            @include movileM(){
                font-size: 12px;
            }
            @include movile(){
                font-size: 13px;
            }
        }
    }
    &.deperfil{
        background: rgba(127, 210, 195, 0.46);
    }
}
.indispuesto{
    cursor:not-allowed;
    opacity: 0.7;
}
.superfoto{
    display: block;
    width: 25vw;
    height: 40vh;
    background-image: url('../img/backgraund-mobile.jpg') ;
}
.box.flex{
    display: flex;
   .cursor-pointer{
        .w-6.h-6{
           $size: 15px;
           width: 11px;
           height: 11px;
            @include movileS(){
                width: 12px;
                height: 12px;
            }
            @include movileM(){
                width: $size;
                height: $size;
            }
            @include movile(){
                width: $size + 2 ;
                height: $size + 2;
            }
            @include tablet(){
                width: $size;
                height: $size;
            }
            @include desktop(){
                width: $size;
                height: $size;
            }
        }
        .w-7.h-7{
            $size: 30px;
            width: 20px;
            height: 20px;
            @include movileS(){
                width: 25px;
                height: 25px;
            }
            @include movileM(){
                width: $size;
                height: $size;
            }
            @include movile(){
                width: $size ;
                height: $size ;
            }
            @include tablet(){
                width: $size;
                height: $size;
            }
            @include desktop(){
                width: $size;
                height: $size;
            }
        }
   }
}