* {
    box-sizing: border-box;
  }
[class*="col-"] {
    float: left;
    padding: 15px;
  }
.pop{
    position: fixed;
    flex-direction: column;
    //background: white;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    header, section{
        
        justify-content: auto;
        
    }
    header{
      display: grid;
      width: 100%;
      grid-template-columns: 20% 80%;
      @include movile(){
        width: 80%;
        grid-template-columns: 11% 78% 11%;
        text-align: center;
      }
      @include tablet(){
        width: 60%;
      }
      @include desktop(){
        width: 40%;
      }
      
    }
}

.headerformulario>h2{
  font-size: 20px;
  
}

.absolute{
  position:absolute;
  display: block;
}
.body{
  display: flex;  
  align-items: center;
  flex-direction: column;
    header{
        flex-direction: column;
        align-items: center;
    }
}

.login{
  width: 100%;
  background: rgba(213, 245, 240, 0.46);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
  margin-bottom: 10vh;
  flex-direction: column;
  align-items: center;
  @include movile(){
    width: 80%;
  }
  @include tablet(){
    width: 60%;
  }
  @include desktop(){
    width: 40%;
  }
}

.atras{
    text-decoration: none;
    font-size: small;
    font-weight: normal;
    align-items: center;
    font-size: large;

    &.blanco{
      color: white;
    } 
    &.negro{
      color: black;
    } 
    &.azul{
      color:rgb(49, 153, 181);
    }
}
label{
    padding:15px;
}
input{
    padding:5px;
    border-radius: 5px;
    color: black;
    opacity: 0.7;
    align-self: center;
}   

fieldset{
    border: 0px;
    display: flex;
    flex-direction: column;
}
button{
    align-self: center;
}
.error{
  color: #e70000;
  background-color: #ff00002b;
}
.body{
  &.background1{
    background-image: url('../img/backgraund-mobile-large.jpg');
    background-size: cover;
    @include movile {
        background-image: url('../img/backgraund-tablet-large.jpg');
    }
    @include tablet() {
        background-image: url('../img/backgraund-desktop-large.jpg');
    }
  }
  &.background2{
    background-image: url('../img/backgraund2-mobile-large.jpg');
    background-size: cover;
    height: auto;
    @include movile() {
        background-image: url('../img/backgraund2-tablet-large.png');
    }
    @include tablet() {
        background-image: url('../img/backgraund2-desktop.png');
    }
    @include desktop() {
        background-image: url('../img/backgraund2-desktop.png');
    }
    &.formlogin{
      background-image: url('../img/backgraund2-mobile.png');
      background-size: cover;
      @include movile() {
          background-image: url('../img/backgraund2-tablet.png');
      }
      height: 100%;
    }
  }
  &.background3{
    background-image: url('../img/backgraund3-mobile-large.jpg');
    background-size: cover;
    @include movile() {
        background-image: url('../img/backgraund3-tablet-large.jpg');
    }
    @include tablet() {
        background-image: url('../img/backgraund3-desktop-large.jpg');
    }
    @include desktop() {
        background-image: url('../img/backgraund3-desktop-large.jpg');
    }
  }
}



@mixin movile {
    @media only screen and (min-width: 425px) {
      @content;
    }
  }

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}