@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
* {
    box-sizing: border-box;
  }
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Comic Neue', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
@mixin movileS {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
@mixin movileM {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }
@mixin movile {
    @media only screen and (min-width: 425px) {
      @content;
    }
  }

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}


.container{
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");  
    height:100vh;
    border: none;
    .background1{
        transition: opacity .5s;
        background-image: url('../img/carrito-de-bebe-movil.jpg');
        height: 100vh;
        background-size: cover;
        @include movile {
            background-image: url('../img/carrito-de-bebe-tablet.jpg');
        }
        @include tablet() {
            background-image: url('../img/carrito-de-bebe-desktop.jpg');
        }
        @include desktop() {
            background-image: url('../img/carrito-de-bebé-trio-de-Asalvo_1.jpg');
        }
        .flexea.columncenter{
            align-items: normal;
            justify-content: center;
            
        }
    }
    .background2{
        transition: opacity .5s;
        background-image: url('../img/bebe-comiendo-movil.png');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/bebe-comiendo-tablet.png');
        }
        @include tablet() {
            background-image: url('../img/bebe-comiendo-desktop.png');
        }
        @include desktop() {
            background-image: url('../img/bebe-comiendo-desktop.png');
        }
        .flexea.columncenter{
            align-items: normal;
            justify-content: center;
            
        }
    }
    .background3{
        transition: opacity .5s;
        background-image: url('../img/sillita-coche-bebe-movil.png');
        height: 100vh;
        background-size: cover;
        @include movile() {
            background-image: url('../img/sillita-coche-bebe-tablet.png');
        }
        @include tablet() {
            background-image: url('../img/sillita-coche-bebe-desktop.png');
        }
        @include desktop() {
            background-image: url('../img/sillita-coche-bebe-grande.png');
        }
        .flexea.columncenter{
            align-items: normal;
            justify-content: center;
            
        }
    }
    &.backunder{
        font-family: $font-family-sans-serif;
    }
}
.cartaheader{
    background-color: rgb(127, 168, 255);
}

[class*="col-"] {
    padding: 10px;
  }

.header {
    padding: 15px;
}
.floatright{
    float: right;
}
.welcome{
    float:right;
    color:white;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}
h3{
    margin: 0px;
}

a, input, textarea{
    width: 100%;
    button{
        color: #FFFFFF;
        font-weight: bold;
        font-family: 'Comfortaa';
        width: 100%;
    }
}
textarea{
    margin-top: 5px;
}
input[type="checkbox"]{
    width: auto;
}

button.encuentra{
    border: 1px solid rgb(49, 153, 181);
    background-color:rgb(49, 153, 181) ;
}
button.registro{
    border: 1px solid white;
    background-color: rgb(185 185 185 / 0%);
}
h1.titulo{
    font-family: 'Comfortaa';
    font-size: 32px;  
    color: #FFFFFF;
}


.inicio-sesion{
    font-family: 'Comfortaa';
    font-size: 15px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    height: 280px;
    li {
        position: absolute;
        left: 0px;
        top: 0px;
        width: inherit;
        height: inherit;
        opacity: 0;
        transition: opacity .5s;
        background-color: rgb(185 185 185 / 0%);
        color:white;
    }
}

ul.slider li img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

ul.slider  {
    
    /*Mostramos el primer <li>*/
    li:target {
        opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
    }
    li:first-child{
        opacity: 1;
    }
    
}

li#slide1.col-9.esco {
    opacity: 0; 
}
.esco{
    visibility: hidden;
}

.menu{
    text-align: center;
    margin: 0px;
    li{
        padding-right: 10px;
        padding-left: 10px;
        display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            color: white;
            background-color: rgb(185, 185, 185);
            padding: 7px;
            width: 7px;
            height: 7px;
            margin:0px;
            font-size: 10px;
            opacity: 0.7;
            border-radius: 100%;
          }
          
      }
}
/*
.menu li a:active{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    opacity: 1;
    border-radius: 100%;
      
}
  */